<tr>
  <th scope="row">{{ client.id }}</th>
  <td>{{ client.last_name }}</td>
  <td>{{ client.first_name }}</td>
  <td>{{ client.father_name }}</td>
  <td>{{ client.phone }}</td>
  <td>
    <div class="btn-group" role="group">
      <a class="btn btn-success form-control" href="{% url 'basicapp:client-update' pk=client.pk %}">Update</a>
      <a class="btn btn-danger form-control" href="{% url 'basicapp:client-delete' pk=client.pk %}">Delete</a>
    </div>
  </td>
</tr>

{% if request.path == '/bank/clients/' and request.GET.v_o and client.operations.count %}
  <tr class="bg-light">
    <td colspan="6" class="p-0 text-center">Related operations: <strong>{{ client.operations.count }}</strong></td>
  </tr>
  <tr>
    <td colspan="6" class="p-0">
      <table class="table bg-light m-0">
        <thead>
          <th scope="col">ID</th>
          <th scope="col">Client ID</th>
          <th scope="col">Consultant ID</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </thead>
        <tbody>
          {% for operation in client.operations.all %}
            {% include 'basicapp/_operation.html' %}
          {% endfor %}
        </tbody>
      </table>
    </td>
  </tr>
{% endif %}
