{% extends 'base.html' %}

{% block content %}
  <h1>Operation types</h1>

  <table class="table">
    <thead>

    </thead>
    <tbody>
      <tr class="table-secondary">
        <td class="text-center" colspan="3">Searching, ordering and detalization</td>
      </tr>

      <thead class="thead-dark">
        <th scope="col">Operation ID</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
      </thead>

      <tr>
        <!-- Search and ordering -->
        <form class="form-inline" method="get">
          <!-- Operation ID -->
          <td>
            <input class="form-control mb-2" type="text" name="op_id" value="{{ request.GET.op_id }}">
            <div class="form-check">
              <input class="form-check-input" id="o_op_id_no" type="radio" name="o_op_id" value="0">
              <label class="form-check-label" for="o_op_id_no">No</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="o_op_id_asc" type="radio" name="o_op_id" value="1">
              <label class="form-check-label" for="o_op_id_asc">Ascending</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="o_op_id_desc" type="radio" name="o_op_id" value="2">
              <label class="form-check-label" for="o_op_id_desc">Descending</label>
            </div>
          </td>

          <!-- Type -->
          <td>
            <input class="form-control mb-2" type="text" name="tp" value="{{ request.GET.tp }}">
            <div class="form-check">
              <input class="form-check-input" id="o_tp_no" type="radio" name="o_tp" value="0">
              <label class="form-check-label" for="o_tp_no">No</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="o_tp_asc" type="radio" name="o_tp" value="1">
              <label class="form-check-label" for="o_tp_asc">Ascending</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="o_tp_desc" type="radio" name="o_tp" value="2">
              <label class="form-check-label" for="o_tp_desc">Descending</label>
            </div>
          </td>

          <!-- Action -->
          <td>
            <div class="form-check">
              <input class="form-check-input" id="v_o" type="checkbox" name="v_o" value="1">
              <label class="form-check-label" for="v_o">Operation</label>
            </div>
            <input class="btn btn-primary form-control mt-2" type="submit" value="Apply">
            <a class="btn btn-warning form-control" href="?op_id=&tp=&o_op_id=0&o_tp=0">Reset</a>
          </td>
        </form>
      </tr>

      <tr class="table-secondary">
        <td class="text-center" colspan="3">Data rows: <strong>{{ operationtype_list.count }}</strong></td>
      </tr>

      <thead class="thead-dark">
        <th scope="col">Operation ID</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
      </thead>

      {% for operationtype in operationtype_list %}
        {% include 'basicapp/_operationtype.html' %}
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-primary" href="{% url 'basicapp:operation-type-create' %}">Create</a>
{% endblock %}
